<a href="https://colab.research.google.com/github/hurratanvir/Coursera_Capstone/blob/master/Capstone_Web_Scrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Notebook for Week 3 Assignment of Capstone Project<h1>

First let us import pandas library

In [0]:
import pandas as pd

Reading the wikipedia page through url. The read_html return a list where element 0 is our concerned Data Frame

In [5]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]
df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

Let's now select only those rows where <b>Borough</b> column does not contain <b>Not assigned</b> value

In [44]:
df = df[df['Borough']!='Not assigned']
df.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park , Harbourfront
5         M6A        North York             Lawrence Manor , Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

To check the duplicate values in <b>Postal code </b> column we will first check number of rows in it and corrosponding set made by it.
Since both the values match, there is no dubplicate value in the column

In [45]:
df['Postal code'].shape

(103,)

In [43]:
len(set(df['Postal code']))

103

The neighbouhood values have already been clubed together, seperated by slash '/'. Let's replace all slashes by commas

In [36]:
df['Neighborhood'] = df['Neighborhood'].str.replace('/',',',regex = True)
df.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park , Harbourfront
5         M6A        North York             Lawrence Manor , Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

Lets now check all the rows where Neighbourhood coloumn is empty. As it can be seen, there is no such row

In [20]:
df[df['Neighborhood']=='']

Empty DataFrame
Columns: [Postal code, Borough, Neighborhood]
Index: []

In [22]:
df[df['Neighborhood']==' ']

Empty DataFrame
Columns: [Postal code, Borough, Neighborhood]
Index: []

In [29]:
df[df['Neighborhood']=='NaN']

Empty DataFrame
Columns: [Postal code, Borough, Neighborhood]
Index: []

In [26]:
df.shape

(103, 3)

The shape of the data frame is 103 x 3