In [0]:
import pandas as pd

In [5]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]
df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

In [17]:
df = df[df['Borough']!='Not assigned']
df.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [18]:
df['Neighborhood'].str
#= df['Neighborhood'].replace(to_replace = '/', value = ',')

In [20]:
df[df['Neighborhood']=='']

Empty DataFrame
Columns: [Postal code, Borough, Neighborhood]
Index: []

In [22]:
df[df['Neighborhood']==' ']

Empty DataFrame
Columns: [Postal code, Borough, Neighborhood]
Index: []

In [29]:
df[df['Neighborhood']=='NaN']

Empty DataFrame
Columns: [Postal code, Borough, Neighborhood]
Index: []

In [26]:
df.shape

(103, 3)